@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;margin:0
}
body{
    font-family: 'Montserrat', sans-serif;
}
.flex{
    display:flex
}

.hover{
    cursor:pointer
}
.container{
    width:80%;
    margin:auto
}


.nav-bar{
    width:70%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    padding:20px 0px
}

.nav-links li{ 
    list-style-type:  none;
    display: inline-block;
    padding:0px 10px
}

.nav-links li:hover{
    cursor:pointer;
    color:dodgerblue
}


/* FEATURED PRODUCT CSS */
.main-banner{
    height:500px;
    margin-bottom:20px
}

.featured-product,.featured-info{
    width:50%;
}
.featured-info{
    display:flex;
   align-items: center;
}
.featured-text{ 
    width:390px
    
}
.featured-text span,h1,p,button{
    padding:10px 0px;
}
.featured-text span{
    color:red;
    font-weight:bold
}
.featured-image{
    height:100%;
    padding-left:50px
}

.btn-feature{
    background:dodgerblue;
    border:none;
    padding:10px 16px;
    color:white
}
/* FEATURED PRODUCT CSS */

/* PRODUCT LIST CSS */
.deals{
    flex-wrap:wrap
}
.product-list{ 
    background:#fafafa;
}
.product-card{
    border-radius:5px;
    width:180px;
    display:flex;
    flex-direction:column;
    padding:10px;
    margin:0px 5px
}
.product-image{ 
    display:flex;
justify-content: center;
background:white;
padding:10px;
border-radius: 10px;
height:150px;
width:180px;
}
.product-image img{
    height:100%;
   
}
.product-details{
    justify-content:space-between;
    align-items:center;
}
.heading{
    justify-content: space-between;
    align-items: center;
    padding:10px 0px;
}
.cart-hover:hover{
    cursor:pointer;
    color:green
}
/* PRODUCT LIST CSS */


/* FOOTER CSS */
.footer{
    padding:15px 0px;
}
/* FOOTER CSS */